<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="PhishingOutlookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
   </configSections>
   <userSettings>
      <PhishingOutlookAddIn.Properties.Settings>
         <setting name="phishingEmailAddress" serializeAs="String">
            <value>phishing@yourbusiness.com</value>
         </setting>
         <setting name="phishingEmailSubject" serializeAs="String">
            <value>POTENTIAL PHISHING</value>
         </setting>
         <setting name="phishingEmailFolder" serializeAs="String">
            <value>Deleted Items</value>
         </setting>
         <setting name="phishingEmailMaxReported" serializeAs="String">
            <value>10</value>
         </setting>
         <setting name="addinDebug" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="phishingEmailDeleteComplete" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="organizationName" serializeAs="String">
            <value>IT</value>
         </setting>
         <setting name="phishingEmailConfirmationPrompt" serializeAs="String">
            <value>False</value>
         </setting>
      </PhishingOutlookAddIn.Properties.Settings>
   </userSettings>
   <log4net>
      <root>
         <level value="ALL"/>
         <appender-ref ref="RollingFileAppender"/>
      </root>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="${APPDATA}\PhishingOutlookAddIn\PhishingOutlookAddIn-log.txt" />
         <appendToFile value="true" />
         <rollingStyle value="Size" />
         <maxSizeRollBackups value="5" />
         <maximumFileSize value="5MB" />
         <staticLogFileName value="true" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
         </layout>
      </appender>
   </log4net>
</configuration>